@import 'partials/mixins';
@import 'partials/variable';

.formulario{
    height: auto;
    max-width: 750px;
    margin:0 auto;
    border:1px solid rgb(153, 166, 171);

    .iniciarSesion{
        display: grid;
        justify-content: center;
        margin: 0 auto;
        input{
            width: 300px !important;
        }
        button{
            border:1px solid rgb(94, 94, 94);
            margin: 10px 0px;
        }
        button:hover{
            background-color: rgb(26, 24, 48);
            color:$WHITE;
        }
        p{
            margin-top: -10px;
        }
    }

    form{
        padding: 50px;
        font-family: "Fredoka", sans-serif !important;
        input{
            margin-bottom: 20px !important;
            border-radius: 2px !important;
            border: 1px solid rgb(158, 178, 180);
        }
        p{
            margin-top: -20px;
            font-size: 14px;;
        }
        .password{
            width: 100%;
            height:40px;
        }
        .privacidad{
            margin-top: 20px;
            font-size: 14px;
        }
        .checkbox{
            margin-top: 0px;
        }
        .btn{
            width:100%;
        }
    }
}